{% extends 'base.html.twig' %}

{% block title %}Fabricantes{% endblock %}

{% block body %}
    {{ parent() }}

    {% block javascripts %}
    {% endblock %}

    {{ importmap(['app', 'global']) }}
{% endblock %}

{% block mid %}
    <main class="flex-grow min-h-[calc(100vh-8rem)] flex flex-col z-20">
        <div class="w-1/2 lg:w-2/6 text-center shadow-lg rounded-lg bg-indigo-200 ring ring-offset-3 ring-gray-900/5 mt-5 m-auto" id="title-fabricantes">
            <h1 class="h3 my-3 font-weight-normal text-center text-3xl font-bold text-gray-900">Fabricantes</h1>
        </div>
        <div class="flex items-center m-4">
            <div class="w-full">
                {% for fabricante in fabricantes %}
                    {% if loop.index is odd %}
                        <div class="float-left w-full p-4 box-border">
                            <div class="w-1/2 bg-gray-200 rounded-3xl p-4 border-4 border-indigo-200 carta-fabricante">
                                <img src="{{ asset('uploads/fabricantes/' ~ fabricante.foto) }}" class="h-40 m-auto object-cover object-center m-5 bg-white rounded-lg">
                                <h2 class="text-xl font-semibold m-5">{{ fabricante.nombre }}</h2>
                                <p class="m-5">{{ fabricante.descripcion }}</p>
                            </div>
                            <div class="w-1/2"></div>
                        </div>
                    {% else %}
                        <div class="w-full p-4">
                            <div class="w-1/2"></div>
                            <div class="bg-indigo-400 float-right w-1/2 p-4 box-border rounded-3xl border-4 border-indigo-200 carta-fabricante">
                                <img src="{{ asset('uploads/fabricantes/' ~ fabricante.foto) }}" class="h-40 m-auto object-cover object-center m-5 rounded-lg">
                                <h2 class="text-xl font-semibold m-5 text-white">{{ fabricante.nombre }}</h2>
                                <p class="m-5 text-white">{{ fabricante.descripcion }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="clear-both"></div>
        </div>
    </main>
{% endblock %}